<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--
		######################## SERVICES METIERS ########################
	-->

	<bean id="noteService"
		class="fr.pgr.wsrest.service.impl.NoteServiceImpl">
		<property name="dao" ref="noteDao" />
	</bean>

	<bean id="userService"
		class="fr.pgr.wsrest.service.impl.UserServiceImpl">
		<property name="dao" ref="userDao" />
	</bean>

	<bean id="fileService"
		class="fr.pgr.wsrest.service.impl.FileServiceImpl">
		<property name="dao" ref="fileDao" />
	</bean>

	<bean id="fileTypeService"
		class="fr.pgr.wsrest.service.impl.FileTypeServiceImpl">
		<property name="dao" ref="fileTypeDao" />
	</bean>
</beans>