<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- DAO -->
	<bean id="daoBase" class="fr.pgr.wsrest.persistence.dao.base.impl.DaoBaseImpl" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="noteDao" class="fr.pgr.wsrest.persistence.dao.impl.hibernate.NoteDaoImpl" parent="daoBase"/>
	<bean id="userDao" class="fr.pgr.wsrest.persistence.dao.impl.hibernate.UserDaoImpl" parent="daoBase"/>
	<bean id="fileTypeDao" class="fr.pgr.wsrest.persistence.dao.impl.hibernate.FileTypeDaoImpl" parent="daoBase"/>
	<bean id="fileDao" class="fr.pgr.wsrest.persistence.dao.impl.hibernate.FileDaoImpl" parent="daoBase"/>
</beans>